<div class="container">
    <p>Trabajamos con websockets</p>
    <form id="chat-form">
        <input type="text" id="message" placeholder="Escribe un mensaje..." required>
        <button type="submit">Enviar</button>
    </form>
    <ul id="chat-log"></ul>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="./js/index.js"></script>